<%- include('partials/_header') -%>

<body>
	<div class="tm-page-wrap mx-auto">
		<div class="position-relative">

			<%- include('partials/_navigation') -%>


			<div class="tm-welcome-container tm-fixed-header tm-fixed-header-2">
				<div class="text-center">
					<p class="pt-5 px-3 tm-welcome-text tm-welcome-text-2 mb-1 mt-lg-0 mt-3 text-white mx-auto">Another Image BG<br>it can be fixed.<br>Content will simply slide over.</p>                	
				</div>                
            </div>

            <div id="tm-fixed-header-bg"></div> <!-- Header image -->
		</div>

		<!-- Page content -->
		<main>
			<div class="container-fluid px-0">
				<div class="mx-auto tm-content-container">					
					<div class="row mt-2 mb-1 pb-2">
						<div class="col-12">
							<div class="mx-auto tm-about-text-container px-3">
								<h2 class="tm-page-title mb-4 tm-text-primary">About the F1 Catalog</h2>
								<p class="mb-4">Formula 1 (Formula Bir veya F1 olarak da bilinir); tek kişilik, açık tekerlekli otomobil yarışlarının en yüksek düzeyini oluşturan yarışlar dizisidir.
									F1; bir yıl boyunca, her birine Grand Prix adı verilen ve değişik ülkelerde özel yollarda koşulan yarışlardan oluşur. Yıl sonunda toplanan puanlara göre Pilotlar Şampiyonluğu ile Takımlar Şampiyonası (Otomobil Yapımcıları Birinciliği) ödülleri verilir.
									Yarışları Jean Todt'un başkanlığını yaptığı FIA (Uluslararası Otomobil Federasyonu) düzenler. 
									F1'in geçmişinde yarışların çoğunluğu Avrupa'da yapılmış olmasına karşın, son yıllarda artan sayıda yarışlar
									 Avrupa dışına kaydırılmaktadır. Bunda ana neden, FIA'nın gelişen yeni pazarlara açılmak istemesi olsa da, 
									 yasal düzenlemelerin AB ülkelerindeki kadar sıkı olmadığı ülkelerin çekiciliği de bu kararda etkin olmuştur. 
									 Son yıllarda AB'deki yarışlarda, sağlık gerekçeleriyle tütün ürünlerinin tanıtımlarının yasaklanması, 
									 ölümle sonuçlanan bazı kazaların yerel savcılıklarca (takımların savsaması sonucu olup olmadığının) soruştur FIA'ca hoş karşılanmamıştır. 
									Dünyanın en çok izlenen spor dallarındandır. 2010 yılında dünya çapında 527 milyon televizyon izleyicisine ulaşmıştır.
								</p>	
							</div>							
						</div>						
					</div>					
				</div>

				<div class="mx-auto tm-content-container mt-1 px-3">
					<div class="row tm-catalog-item-list mb-4">
		                <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
		                    <div class="tm-bg-gray p-4">
		                        <i class="fas fa-headphones fa-5x p-3 mb-4 tm-about-icon"></i>
		                        <h3 class="tm-text-primary mb-3">Cras convallis mollis justo</h3>
		                        <p>Sed dapibus vulputate diam nec hendrerit. In libero purus, interdum vitae purus nec, convallis sollicitudin nunc. Curabitur maximus maximus ex a scelerisque.</p>
		                    </div>		                    
		                </div>
		                <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
		                    <div class="tm-bg-gray p-4">
		                        <i class="fas fa-broadcast-tower fa-5x p-3 mb-4 tm-about-icon"></i>
		                        <h3 class="tm-text-primary mb-3">Nullam dictum pretium</h3>
		                        <p>Quisque vestibulum lectus eros, tincidunt ultricies ante euismod non. Ut sed consequat est, quis lobortis lorem. Nullam dictum pretium mauris eu aliquam.</p>
		                    </div>	
		                </div>
		                <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
		                    <div class="tm-bg-gray p-4">
		                        <i class="fas fa-film fa-5x p-3 mb-4 tm-about-icon"></i>
		                        <h3 class="tm-text-primary mb-3">Etiam in quam dolor</h3>
		                        <p>Aliquam in congue diam, non tincidunt ligula. Suspendisse facilisis elit eget quam semper aliquet. Donec ut purus aliquet, imperdiet lacus id, faucibus lectus.</p>
		                    </div>	
		                </div>
		            </div>
				</div>

			</div>
		</main>

		<div class="container-fluid tm-content-container mx-auto pt-5">
		
            <%- include('partials/_footer') -%>
            
    <script src="js/parallax.min.js"></script>
</body>
</html>